h1 {
  font-size: 50px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;padding:20px;
}
    }
body {
  margin:0;
}
ol {
  border-right:1px solid gray;
  margin:0;padding:20px;width:100px;
}
a {
  text-decoration: none;
}
#grid {
  display:grid;
  grid-template-columns:150px 1fr;
}
#grid ol {
  padding-left:33px;
}
#article {
  padding-left:25px;
}
@media(max-width:800px) {
  #grid {
    display:block;
  }
  h1 {
    border-bottom:none;
   }
  ol {
    border-right:none;
    }

  }
}
